{
  "root": true,
  "extends": "eslint:recommended",
  "parserOptions": {
    "ecmaVersion": 2022,
    "sourceType": "module"
  },

  "env": {
    "es6": true,
    "jest": true,
    "node": true
  },
  "rules": {
    "no-nonoctal-decimal-escape": "warn",
    "no-unsafe-optional-chaining": "warn",
    "no-useless-backreference": "warn",
    "prefer-const": "warn",
    "no-var": "warn",
    "eqeqeq": "warn",
    "no-unused-vars": "warn"
  }
}
